* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* LAYOUT */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: #f8f9fa;
  padding: 25px 0;
}

header h1 {
  font-size: 2.2rem;
}

/* MAIN */

#btn-section {
  padding: 30px 0;
}

#btn-section button {
  margin: 0 20px 0 0;
  border: 2px solid;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 10px;
  cursor: pointer;
}

.card {
  background-color: trasparent;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.card p {
  font-size: 1.2rem;
}

#HTML {
  background-color: white;
  border-color: #E34F26;
  color: #E34F26;
}

#HTML.active {
  background-color: #E34F26;
  color: white;
}

#CSS {
  background-color: white;
  border-color: #1572B6;
  color: #1572B6;
}

#CSS.active {
  background-color: #1572B6;
  color: white;
}

#JavaScript {
  background-color: white;
  border-color: #F7DF1E;
  color: #F7DF1E;
}

#JavaScript.active {
  background-color: #F7DF1E;
  color: white;
}

#Node\.js {
  background-color: white;
  border-color: #339933;
  color: #339933;
}

#Node\.js.active {
  background-color: #339933;
  color: white;
}

#Express {
  background-color: white;
  border-color: #303030;
  color: #303030;
}

#Express.active {
  background-color: #303030;
  color: white;
}

#ReactJS {
  background-color: white;
  border-color: #61DAFB;
  color: #61DAFB;
}

#ReactJS.active {
  background-color: #61DAFB;
  color: white;
}