* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

/* LAYOUT */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: #f8f9fa;
  padding: 25px 0;
}

header h1 {
  font-size: 2.2rem;
}

/* MAIN */

#btn-section {
  padding: 30px 0;
}

#btn-section button {
  margin: 0 20px 0 0;
  border: 2px solid;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card {
  background-color: trasparent;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.card p {
  font-size: 1.2rem;
}

#HTML {
  background-color: white;
  border-color: #E34F26;
  color: #E34F26;
}

#HTML:hover {
  box-shadow: 0 8px 16px #E34F26;
  transform: translateY(-2px);
}

#HTML.active,
#HTML:active {
  background-color: #E34F26;
  border-color: #E34F26;
  color: white;
}

#CSS {
  background-color: white;
  border-color: #1572B6;
  color: #1572B6;
}

#CSS:hover {
  box-shadow: 0 8px 16px #1572B6;
  transform: translateY(-2px);
}

#CSS.active,
#CSS:active {
  background-color: #1572B6;
  border-color: #1572B6;
  color: white;
}

#JavaScript {
  background-color: white;
  border-color: #F7DF1E;
  color: #F7DF1E;
}

#JavaScript:hover {
  box-shadow: 0 8px 16px #F7DF1E;
  transform: translateY(-2px);
}

#JavaScript.active,
#JavaScript:active {
  background-color: #F7DF1E;
  border-color: #F7DF1E;
  color: white;
}

#Node\.js {
  background-color: white;
  border-color: #339933;
  color: #339933;
}

#Node\.js:hover {
  box-shadow: 0 8px 16px #339933;
  transform: translateY(-2px);
}

#Node\.js.active,
#Node\.js:active {
  background-color: #339933;
  border-color: #339933;
  color: white;
}

#Express {
  background-color: white;
  border-color: #303030;
  color: #303030;
}

#Express:hover {
  box-shadow: 0 8px 16px #303030;
  transform: translateY(-2px);
}

#Express.active,
#Express:active {
  background-color: #303030;
  border-color: #303030;
  color: white;
}

#ReactJS {
  background-color: white;
  border-color: #61DAFB;
  color: #61DAFB;
}

#ReactJS:hover {
  box-shadow: 0 8px 16px #61DAFB;
  transform: translateY(-2px);
}

#ReactJS.active,
#ReactJS:active {
  background-color: #61DAFB;
  border-color: #61DAFB;
  color: white;
}